<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GATOR Demo</title>

	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script> -->
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="stylesheet" href="https://use.typekit.net/xgf2yzc.css">

</head>
<body>
	

	<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
	    <ul class="navbar-nav">
	        <li id="nav-brand" class="nav-item">
	            <a class="navbar-brand" href="#">GATOR Chat Demo</a>
	        </li>
	    </ul>
	</nav>

    <div style="margin-top: 75px;"></div>

    <div class="container-fluid">

		    <!-- Content wrapper start -->
		    <div class="content-wrapper">

		        <!-- Row start -->
		        <div class="row gutters">

		        	<!-- Information Panes start  -->
		        	<div class="col-lg-7">

						<!-- Progress viz start -->
		        		<div class="card hierarchy-card">
		        			<div class="card-header">
		        				Progression
		        			</div>
		        			<div class="card-body progress-container">
		        				<!-- <a><img src="https://via.placeholder.com/970x200.png"></a> -->
		        				<a href=""><img src="/static/images/progress.svg" alt="GATOR"></a>
		        			</div>
		        		</div>
						<!-- Progress viz end -->

						<div class="row">

							<!-- Topics start -->
							<div class="col-lg-6">
		        				<div class="card hierarchy-card">
		        					<div class="card-header">
		        						Topics
		        					</div>
		        					<div class="card-body topic-scroll">
					                    <div class="row no-gutters">
					                        <div class="col-lg">
					                            <div class="topic-container">

					                            	<div class="card topic-card">
														<div class="card-header">
															@TOPIC.&laquo;SPEAKER1&raquo;.1
														</div>
														<div class="card-body">
															<b>ID:</b> c1e3aca5
															<br><b>WORD:</b> "you"
															<br><b>TAG:</b> PRN
															<br><b><i>introduced:</i></b> @MEMORY.GREETING.2
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.&laquo;SPEAKER0&raquo;.1
														</div>
														<div class="card-body">
															<b>ID:</b> 2580d8c6
															<br><b>WORD:</b> "you"
															<br><b>TAG:</b> PRN
															<br><b><i>introduced:</i></b> @MEMORY.GREETING.3
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.ORGANIZE.1
														</div>
														<div class="card-body">
															<b>ID:</b> b33473dc
															<br><b>WORD:</b> "organizing"
															<br><b>TAG:</b> VBG
															<br><b><i>introduced:</i></b> @MEMORY.OTHER.1
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.INFORMATION.1
														</div>
														<div class="card-body">
															<b>ID:</b> c7a83c8f
															<br><b>WORD:</b> "info"
															<br><b>TAG:</b> NN
															<br><b><i>introduced:</i></b> @MEMORY.OTHER.1
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.CHARITY.1
														</div>
														<div class="card-body">
															<b>ID:</b> b33473dc
															<br><b>WORD:</b> "charity"
															<br><b>TAG:</b> NN
															<br><b><i>introduced:</i></b> @MEMORY.OTHER.1
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.INVOLVE.1
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "involved"
															<br><b>TAG:</b> VBN
															<br><b><i>introduced:</i></b> @MEMORY.TASK-RELATED-INQUIRY.1
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.CHARITY.2
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "charity"
															<br><b>TAG:</b> NN
															<br><b><i>introduced:</i></b> @MEMORY.TASK-RELATED-INQUIRY.1
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.WORK.1
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "work"
															<br><b>TAG:</b> NN
															<br><b><i>introduced:</i></b> @MEMORY.POSITIVE-TO-INQUIRY.2
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.CHILDREN.1
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "children"
															<br><b>TAG:</b> NN
															<br><b><i>introduced:</i></b> @MEMORY.POSITIVE-TO-INQUIRY.2
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.INVOLVE.2
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "involved"
															<br><b>TAG:</b> VBN
															<br><b><i>introduced:</i></b> @MEMORY.TASK-RELATED-INQUIRY.2
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

													<div class="card topic-card">
														<div class="card-header">
															@TOPIC.HELP.1
														</div>
														<div class="card-body">
															<b>ID:</b> 
															<br><b>WORD:</b> "help"
															<br><b>TAG:</b> VBP
															<br><b><i>introduced:</i></b> @MEMORY.TASK-RELATED-INQUIRY.2
															<br><b><i>score:</i></b> 
															<br><b><i>turns-alive:</i></b> 
														</div>
													</div>

					                            </div>
					                        </div>
					                    </div>
		        					</div>
		        				</div>
		        			</div>
							<!-- Topics end -->

							<!-- Plans start -->
							<div class="col-lg-6">
								<div class="card hierarchy-card">
									<div class="card-header">
										Plans
									</div>
									<div class="card-body plan-container">
										
										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.GREETING.1
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.GREETING.2
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER1&raquo;
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.GREETING.3
											</div>
											<div class="card-body">
												<b>TYPE:</b> WELL-BEING INQUIRY
												<!-- <br><b>RESPONSE TO:</b> @MEMORY.GREETING.2 -->
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.GREETING.4
											</div>
											<div class="card-body">
												<b>TYPE:</b> INQUIRY RESPONSE
												<!-- <br><b>RESPONSE TO:</b> @MEMORY.GREETING.3 -->
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.OTHER.1
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.ORGANIZE.1
												<br><b>OBJECT:</b> @TOPIC.INFORMATION.1
												<br><b>INDIRECT OBJECT:</b> @TOPIC.CHARITY.1
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.TASK-RELATED-INQUIRY.1
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER1&raquo;
												<br><b>VERB:</b> @TOPIC.INVOLVE.1
												<br><b>OBJECT:</b> @TOPIC.CHARITY.2
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.POSITIVE-TO-INQUIRY.1
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
												<!-- <br><b>RESPONSE TO:</b> @MEMORY.TASK-RELATED-INQIURY.1 -->
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.POSITIVE-TO-INQUIRY.2
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER1&raquo;
												<br><b>VERB:</b> @TOPIC.WORK.1
												<br><b>OBJECT:</b> @TOPIC.CHILDREN.1
												<!-- <br><b>RESPONSE TO:</b> @MEMORY.TASK-RELATED-INQIURY.1 -->
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.TASK-RELATED-INQUIRY.2
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.INVOLVE.2
												<br><b>OBJECT:</b> @TOPIC.CHARITY.1
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.ACKNOWLEDGEMENT.1
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.NEUTRAL-TO-INQUIRY.1
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.HELP.1
												<br><b>OBJECT:</b> @TOPIC.CHARITY.3
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.ACKNOWLEDGEMENT.2
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.POSITIVE-TO-INQUIRY.3
											</div>
											<div class="card-body">
												<!-- <b>C SUBJECT:</b> "best" --> <!-- clausal subject -->
												<b>VERB:</b> @TOPIC.WORK.1
												<br><b>OBJECT:</b> @TOPIC.CHILDREN.1
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.TASK-RELATED-INQUIRY.3
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.DO.1
												<br><b>OBJECT:</b> @TOPIC.CHARITY.3
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.NEUTRAL-TO-INQUIRY.2
											</div>
											<div class="card-body">
												<div class="card plan-card plan-left">
													<div class="card-body">
														<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
														<br><b>VERB:</b> @TOPIC.RAISE.1
														<br><b>OBJECT:</b> @TOPIC.DONATION.2
													</div>
												</div>
												<p class="and-bold">AND</p>
												<div class="card plan-card plan-left">
													<div class="card-body">
														<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
														<br><b>VERB:</b> @TOPIC.VOLUNTEER.1
														<br><b>OBJECT:</b> @TOPIC.TIME.1
													</div>
												</div>
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.ACKNOWLEDGEMENT.3
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.TASK-RELATED-INQUIRY.4
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.RAISE.1
												<br><b>OBJECT:</b> @TOPIC.DONATION.2
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.NEUTRAL-TO-INQUIRY.3
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER0&raquo;
												<br><b>VERB:</b> @TOPIC.ASK.1
												<br><b>OBJECT:</b> @TOPIC.AID.2
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.TASK-RELATED-INQUIRY.5
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER1&raquo;
												<br><b>VERB:</b> @TOPIC.DONATE.1
												<br><b>OBJECT:</b> @TOPIC.CHARITY.2
											</div>
										</div>

										<div class="card plan-card plan-right">
											<div class="card-header">
												@MEMORY.AGREE-DONATION.1
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.ACKNOWLEDGEMENT.4
											</div>
											<div class="card-body">
												<b>TYPE:</b> GENERIC
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.PROPOSITION-OF-DONATION.1
											</div>
											<div class="card-body">
												<b>SUBJECT:</b> &laquo;SPEAKER1&raquo;
												<br><b>VERB:</b> @TOPIC.DONATE.2
												<br><b>OBJECT:</b> @TOPIC.MONEY.1
											</div>
										</div>

										<div class="card plan-card plan-left">
											<div class="card-header">
												@MEMORY.PROPOSITION-OF-DONATION.1
											</div>
											<div class="card-body">
												<div class="card plan-card plan-left">
													<div class="card-body">
														<b>SUBJECT:</b> @TOPIC.CHARITY.3
														<br><b>VERB:</b> @TOPIC.PROMOTE.1
														<br><b>OBJECT:</b> @TOPIC.RIGHTS.1
													</div>
												</div>
												<p class="and-bold">AND</p>
												<div class="card plan-card plan-left">
													<div class="card-body">
														<b>SUBJECT:</b> @TOPIC.CHARITY.3
														<br><b>VERB:</b> @TOPIC.PROVIDE.1
														<br><b>OBJECT:</b> @TOPIC.RELIEF.1
													</div>
												</div>
												<p class="and-bold">AND</p>
												<div class="card plan-card plan-left">
													<div class="card-body">
														<b>SUBJECT:</b> @TOPIC.CHARITY.3
														<br><b>VERB:</b> @TOPIC.SUPPORT.1
														<br><b>OBJECT:</b> @TOPIC.CHILDREN.1
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
		        			</div>
							<!-- Plans end -->


						</div>
		        	</div >
		        	<!-- Information Panes end  -->

		        	<!-- Chat window start  -->
		            <div class="col-lg-5">

		                <div class="card">

<!-- 							<div class="card-header selected-user">
								<span class="name">Chat</span>
							</div> -->
		                	<div class="card-body chat-scroll">

			                    <!-- Row start -->
			                    <div class="row no-gutters">
			                        <div class="col-lg">
			                            <div class="chat-container">
			                                <ul class="chat-box chatContainerScroll">
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Hello.</div>
			                                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">How are you?</div>
			                                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">I'm good, how are you doing?</div>
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Very well.</div>
			                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">I'm just up organizing info for my charity.</div>
			                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Are you involved in charities?</div>
			                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">Yes!</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">I work with children who have terminal illnesses.</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">What charity are you involved in?</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">That's great!</div>
			                                        <div class="chat-hour">08:58 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">I help with Save The Children.</div>
			                                        <div class="chat-hour">08:58 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:58 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">Amazing!</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">Working with kids is the best.</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">What do you do for Save the Children?</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">I help raise donations and volunteer time.</div>
			                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">That's so important.</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">How do you raise donations?</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">By directly asking for aid.</div>
			                                        <div class="chat-hour">09:00 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Do you currently donate to your charity?</div>
			                                        <div class="chat-hour">09:00 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-right">
			                                        <div class="chat-hour">09:00 <span class="fa fa-check-circle"></span></div>
			                                        <div class="chat-text">Yes I do, but I'm happy to donate to yours as well!</div>
			                                        <div class="chat-avatar">
			                                            <img src="static/images/user_avatar.png" alt="Ivan Leon">
			                                            <div class="chat-name">Ivan</div>
			                                        </div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Wonderful!</div>
			                                        <div class="chat-hour">09:01 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Would you be will to donate $1.00 of your task money to help Save the Children?</div>
			                                        <div class="chat-hour">09:01 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                    <li class="chat-left">
			                                        <div class="chat-avatar">
			                                            <img src="/static/images/gator_avatar.png" alt="GATOR">
			                                            <div class="chat-name">GATOR</div>
			                                        </div>
			                                        <div class="chat-text">Save The Children is an international non-governmental organization that promotes children's rights, provides relief and helps support children in developing countries.</div>
			                                        <div class="chat-hour">09:01 <span class="fa fa-check-circle"></span></div>
			                                    </li>
			                                </ul>
			                                <!-- <div class="form-group mt-3 mb-0">
			                                    <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
			                                </div> -->

			                            </div>
			                        </div>
			                    </div>
			                    <!-- Row end -->
			                </div>
							<div class="chat-input">
								<form action="" method="POST">
									<div class="form-row">
	<!--									<div class="col-sm-2">-->
	<!--										<input type="text" class="form-control username" placeholder="Name">-->
	<!--									</div>-->
										<div style="padding-right: 5px">
											<input  type="text" class="form-control message" placeholder="Message">
										</div>
										<button class="btn btn-info" type="submit" id="submit" >Send</button>
									</div>
								</form>
							</div>
		                </div>
		            </div>
		        	<!-- Chat window start  -->


		        </div>
		        <!-- Row end -->

		    </div>
		    <!-- Content wrapper end -->

	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);

		socket.on( 'connect', function() {
			socket.emit( 'my event', {
		  		data: 'User Connected'
			})
			var form = $( 'form' ).on( 'submit', function( e ) {
				e.preventDefault()
				let user_name = $( 'input.username' ).val()
				let user_input = $( 'input.message' ).val()
				socket.emit( 'my event', {
					user_name : user_name,
					message : user_input
				})
				$( 'input.message' ).val( '' ).focus()
			})
		})


		socket.on( 'my response', function( msg ) {
			console.log( msg )
			if( typeof msg.message !== 'undefined' ) {
				$( 'h3.empty_chat' ).remove()
				// $( 'div.chat_holder' ).append( '<div class="row"><div class="card"><b style="color: #000">'+msg.user_name+'</b>'+msg.message+'</div></div></div>' )
				$( 'div.chat_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
			}
		})
	</script>
</body>
</html>